Slack Recipe AI Bot.json
{
  "name": "Slack Recipe AI Bot",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "watchWorkspace": true,
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        0
      ],
      "id": "c5492cbf-6fd5-4e8a-a06d-9d004d1a9e39",
      "name": "Slack Trigger",
      "webhookId": "d30e6a00-7f52-438f-a56d-bd22c80d0084",
      "credentials": {
        "slackApi": {
          "id": "IQqr5HP50FbupSJy",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32e83da9-95ce-4156-9940-d58e110956de",
              "name": "recipe",
              "value": "={{ $json.blocks[0].elements[0].elements[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        0
      ],
      "id": "de1a6078-57fe-4ed8-a4c6-b0b8985afc8d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=List all the products and ingredients needed to make {{$json.recipe}}.\n\nReturn a clear bulleted list with approximate quantities.\nKeep it short and practical.\n\nIf the recipe name is unclear or empty, reply:\n\"Please provide a valid recipe name.\"",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        0,
        0
      ],
      "id": "b7614838-5b77-4a52-af2e-d44fc34529dd",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -112,
        208
      ],
      "id": "0220475b-a41c-42b9-94c5-8cad99f3a53e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Mj5VTaygbyDxxs7q",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "=https://app.slack.com/client/T0BEP836C9H/C0BFPRQ8DJ4?entry_point=default_oauth&geocode=en-in",
          "mode": "url"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        352,
        0
      ],
      "id": "571dc84a-51ba-4280-b2ca-ba47bac4acbd",
      "name": "Send a message",
      "webhookId": "044afc50-0ecd-4395-b6a1-1d1d5c88bf20",
      "credentials": {
        "slackApi": {
          "id": "IQqr5HP50FbupSJy",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e8c35bca-d325-49f0-9939-cf636d747c89",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "651b2183b5b013b222c168e173d2c63e420a3d95b59e15828e2f0a96bb3e5806"
  },
  "nodeGroups": [],
  "id": "GyXoHRHhSvoScqeR",
  "tags": []
}